
<h1 style="font-size: 2vw; position: relative; left: 20px; top: 10px;"> Chronic Disease Diagnosis</h1>

<!-- Creates the english version of the body -->
<h3 style="font-size: 2vw; position: relative; left: 20px; top: 10px;"> English </h3>
<hr style="position: relative;">

<div style="position: relative; left: 40px; top: 20px;">
<p>This website is purely for academic purposes. Any and all data found on this website is fabricated and should not be taken seriously.
<br>
<br>If you have stumbled upon this website we encourage you to not answer the questions truthfully or take the questionnaire seriously since:
</p>

<ul>
    <li>There is no guarantee that the data can be protected aginst users with ill intentions.
    <li>There has not been contact with medical personnel about using the website, so your answers will not be seen by proper personnel.
    <li>The website has been made in connection to a project trying to solve the problem of finding people who doesn't know they have a chronic disease. 
    <br>This project is made by software students studying at Aalborg University. 
    <br>The website is therefore only a resource used in the project and should not be seen as a standalone thing. 
    <br>For this to happen, the website needs a lot of improvements.
</ul>
</div>

<!-- Creates the danish version of the body -->
<h3 style="font-size: 2vw; position: relative; left: 20px; top: 40px;"> Danish </h3>
<hr style="position: relative; top: 30px;">

<div style="position: relative; left: 40px; top: 50px;">
<p>Denne webside er udelukkende til brug i forbindelse med akademiske formål. 
<br>Alt data som findes i forbindelse med dette websted er det pure opspind og skal derfor ikke tage seriøst.
<br>
<br>Hvis du er snublet over denne webside så beder vi dig om ikke at svare spørgsmålene sandfærdigt eller tage spørgeskemaet seriøst da:
</p>

<ul>
    <li>Der er ingen garanti for at dataen vil blive beskyttet mod brugere med dårlige intentioner.
    <li>Der har ikke været kontakt med medecinsk personale om at bruge websiden, så dine svar vil ikke blive set af egnet personale.
    <li>Denne webside er lavet i forbindelse med et projekt, som forsøger at løse problemet om at finde folk der ikke ved at de har en kronisk sygdom. 
    <br>Dette projekt er lavet af software studerende som studere på Aalborg Universitet.
    <br>Denne webside er derfor kun en ressource brugt i rapporten og bør derfor ikke ses som sin egen ting. 
    <br>For at dette kan lade sig gøre, så har websiden brug for mange forbedinger.
</ul>
</div>



