<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div>
    <h2>This page is only visible to logged in users</h2>
</div>
 -->
<!-- Creates and positions most of the body on the page -->
<div style="position: relative; left: 40px; top: 10px;">
<p>This is a online questionaire for diagnosing the chronic diseases, diabetes, cancer and COPD.
<br>
<br>The following questions should be answered truthfully to get the right diagnostic, and get the best results.
</p>

<div style="position: relative; left: 60px; top: 20px;">
	<a href="questionaire.html"><button style="font-size: 1.5vw;">Take test</button></a>
</div>

<p style="position: relative; top: 40px;">If you have any further questions, comments or feedback, 
<br>
<br>there will be a comment box after the questionaire.
</p>
</div>


